.home {
  margin-top: 4rem;

  display: grid;
  place-items: center;
}

.electric-tower {
  height: 20rem;
  filter: invert(33%) sepia(26%) saturate(6928%) hue-rotate(1deg) brightness(102%)
    contrast(105%);
}

.supplier-list {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.supplier {
  padding: 1rem;
  border: 1px solid orangered;
}

.consumer {
  display: flex;
  column-gap: 1rem;
}
